.nav-item {
    color: antiquewhite
}
.settings{
    filter: invert(100%)
}
.classWithPad { margin:10px; padding:10px; }

.main-container {
    background-color: rgb(230, 237, 247);
}
.text-center {
    background-color: rgb(230, 237, 247);
}
.footer {
    background-color: rgb(230, 237, 247);
    position: fixed;
    bottom: 0;
}
.mat-toolbar{
    background-color: cornflowerblue;
    color: white;
  }
.mat-button{
     color: white;
  }

  